<div class="container">
  <div class="card" *ngFor="let item of items | searchFilter: finalName">
    <img
      src="https://image.shutterstock.com/image-photo/decorative-monstera-tree-planted-white-600w-1368333254.jpg"
      alt="Plant Image"
    />
    <div class="product-tags">
      <p class="id">{{ item.id }}</p>
      <p class="card-text">{{ item.name }} - &#x20B9;{{ item.price }}</p>
      <button type="button" (click)="onClickAdd(item.id)">Add To Cart</button>
      <button type="button" (click)="onClickRemove(item.id)">Remove</button>
      <button type="button"><a [routerLink]="item.id">Details</a></button>
    </div>
  </div>
</div>
